#Base Template Pour Ma Communauté Discord 

#Rejoin le discord https://discord.gg/j8xu3SsZdk 

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "Exotic V1.2 | Dev"
set mysql_connection_string "mysql://root@localhost/obasetemplate?charset=utf8mb4"
set mysql_slow_query_warning 2500
sv_maxclients 48   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "Exotic V1.2"
sets sv_projectDesc "Exotic V1.2"
sets locale "fr-CA"
sets tags "default, esx, legacy, Roleplay"
sv_scriptHookAllowed 0

load_server_icon ExoticRP.png

set onesync legacy   # Infinity is not recommended for ESX
sv_licenseKey "cfxk_188vUOhbbSYpHzPIed6GJ_2Pp5M4"
set steam_webApiKey "9BCC78468E5190265DE0500276D427BB"
set mysql_ui true

setr fivem-appearance:locale "fr"
setr fivem-appearance:automaticFade 1

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_prncipal allow
add_ace resource.es_extended command.stop allow

ensure chat-theme-gtao
ensure oxmysql
ensure es_extended
ensure [add]
ensure [vehicles]
ensure progressbar
ensure [mappings]
ensure Exotic-clothing
ensure cron
ensure skinchanger
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure instance


## 3.ESX
ensure roddy_identity
ensure esx_compact
ensure esx_basicneeds
ensure esx_status
ensure esx_society
ensure esx_weaponsync
ensure ox_lib
ensure fivem-appearance
ensure ox_appearance
ensure Ambulancejob
ensure renzu_customs
ensure renzu_garage
ensure renzu_notify
ensure renzu_contextmenu
ensure renzu_popui
ensure renzu_progressbar
ensure renzu_fuel
ensure esx_mechanicjob
ensure LOAD
ensure ContextMenu
ensure dpemotes
ensure delgun
ensure markmenu
ensure pma-voice
ensure pausemenu


#Bonus 
ensure renzu_vehicleshop
ensure rkf_showroom
ensure [phone]
ensure [carradio]


